#logo
{
	width: 100%;
	height: 10%;
	background-color: #CCC;
	margin-bottom: 5%;
	text-align: center;
}
#block-area
{
	margin-left: 25%;
	height: 70%;
	width:50%;
	background-color: #F0F0E1;	
}
.block
{
	height: 46%;
	width: 49%;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 0.5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer
{
	width: 100%;
	height: 20px;
	background-color: #393939;
	position: fixed;
	bottom: 0;
}
#facebook{
	height: 46%;
	width: 49%;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 0.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3b5998;
	min-height: 300px;
}
#facebook:hover{
	background-color: #2a4887;
}
#twitter{
	height: 46%;
	width: 49%;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 0.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00aced;
	min-height: 300px;
}
#twitter:hover{
	background-color: #009bdc;
}
#appstore{
	height: 46%;
	width: 49%;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 0.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	background-color: #5690f2;
}
#appstore:hover{
	background-color: #4580e1;
}
#google-play{
	height: 46%;
	width: 49%;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 0.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #343434;
	min-height: 300px;
}
#google-play:hover{
	background-color: #232323;
}